## RHoMIS_Indicators Data

Filter Na columns and impute if necceary. Delete columns with >50% na (can change this threshold value

In [6]:
import pandas as pd
import numpy as np

In [7]:
rh_indic = pd.read_csv("/Users/anab/Documents/MS_UCDavis/STA208/project/STA_208/data/RHoMIS_Indicators.csv", engine='python')
rh_indic.tail()
rh_indic.YEAR.unique()

array([2015, 2016, 2017, 2018])

In [8]:
def getNAs(df):

    colNames = []
    percentNA = []
    for i in df.columns:
        colNames.append(i)
        numNA = df[i].isna().sum()
        percent = (numNA/len(df))*100
        percentNA.append(percent)
        
    colNames = pd.DataFrame(colNames)
    colNames = colNames.rename(columns={0: "label"})
    percentNA = pd.DataFrame(percentNA)
    percentNA = percentNA.rename(columns={0: "numNA"})
    d = pd.concat([colNames,percentNA], axis = 1).sort_values(by=['numNA'], ascending = False)

        
    return d

In [31]:
def remove_columns(df, threshold):
    '''drop columns by a threshold (percentage of na)'''
    data = getNAs(df)
    column_names = data[data.numNA >= threshold].label
    clean_data = df.drop(column_names, axis = 1)
    
    return clean_data

In [36]:
remove_columns(rh_indic, 50)

,ID_PROJ,ID_COUNTRY,YEAR,ITERATION,SURVEY_ID,ID_HH,GPS_LAT,GPS_LON,GPS_ALT,Country,...,livestock_prodsales_USD_PPP_pHH_Yr,value_livestock_production_USD_PPP_pHH_Yr,value_livestock_prod_consumed_USD_PPP_pHH_Yr,Market_Orientation,Livestock_Orientation,Food_Availability_kCal_MAE_day,Food_Self_Sufficiency_kCal_MAE_day,NrofMonthsWildFoodCons,Gender_MaleControl,Gender_FemaleControl
0,CFM,TZ,2015,1,TZ_CFM_2015,TZ_2015_CFM_1_1,NaN,NaN,NaN,Tanzania,...,38.500640,38.500640,0.000000,1.000000,0.049505,3650.565755,0.000000,0,0.000000,1.000000
1,CFM,TZ,2015,1,TZ_CFM_2015,TZ_2015_CFM_2_1,NaN,NaN,NaN,Tanzania,...,0.000000,0.000000,0.000000,1.000000,0.000000,3632.448997,0.000000,4,0.499999,0.500001
2,CFM,TZ,2015,1,TZ_CFM_2015,TZ_2015_CFM_3_1,NaN,NaN,NaN,Tanzania,...,128.335467,128.335467,0.000000,1.000000,0.129870,5314.779021,1750.000000,1,1.000000,0.000000
3,CFM,TZ,2015,1,TZ_CFM_2015,TZ_2015_CFM_4_1,NaN,NaN,NaN,Tanzania,...,0.000000,0.000000,0.000000,NaN,NaN,257.234727,257.234727,0,NaN,NaN
4,CFM,TZ,2015,1,TZ_CFM_2015,TZ_2015_CFM_5_1,NaN,NaN,NaN,Tanzania,...,210.892267,233.994961,23.102694,0.931377,0.695041,925.310354,22.070240,0,1.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13305,TA7,GH,2018,1,GH_TA7_2018,GH_2018_TA7_387_1,10.96,-1.17,191.0,Ghana,...,655.292919,655.292919,0.000000,1.000000,0.779661,1615.869392,339.743848,7,0.629176,0.370824
13306,TA7,GH,2018,1,GH_TA7_2018,GH_2018_TA7_388_1,10.97,-1.16,210.0,Ghana,...,0.000000,0.000000,0.000000,NaN,NaN,355.648536,355.648536,5,1.000000,0.000000
13307,TA7,GH,2018,1,GH_TA7_2018,GH_2018_TA7_389_1,11.00,-1.01,222.0,Ghana,...,49.859244,49.859244,0.000000,0.456522,0.456522,379.050204,276.284247,0,0.000000,1.000000
13308,TA7,GH,2018,1,GH_TA7_2018,GH_2018_TA7_390_1,11.03,-1.18,242.0,Ghana,...,0.000000,0.000000,0.000000,NaN,NaN,693.504198,693.504198,0,1.000000,0.000000
13309,TA7,GH,2018,1,GH_TA7_2018,GH_2018_TA7_391_1,11.03,-1.15,285.0,Ghana,...,2849.099647,2849.099647,0.000000,1.000000,1.000000,2766.448327,568.613314,0,1.000000,0.000000

## crop data

In [7]:
agg = pd.read_csv("/Users/anab/Downloads/crop_details.csv", )
agg.head()

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (129,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,199,200,201,202,203,204,205,206,207,208,215,216,253,254,255,256,257,259,260,261,262,263,264,271,272,285,286,287,288,319,320,321,322,323,324,325,326,327,328,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,427,428,429,430,431,432,451,452,453,454,455,481,482,483,484,485,488,501,502,523,524,525,526,527,528,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,621,622,623,624,649,650,651,652,653,654,655,656,675,676,677,678,679,680,687,688,707,708,709,710,711,712,719,720,727,728,741,742,743,744,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,827,828,829,830,831,832,863,864,865,866,867,868,869,870,871,872,891,892,893,894,895,896,903,904) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ID_PROJ,ID_COUNTRY,YEAR,ITERATION,SURVEY_ID,ID_HH,GPS_LAT,GPS_LON,GPS_ALT,Harvested_beans,...,Intercropped_naranjilla,Intercropped_granadilla,Harvested_frafra potato,Consumed_frafra potato,Sold_frafra potato,Income_frafra potato,Yield_frafra potato,Land_frafra potato,Use_frafra potato,Intercropped_frafra potato
0,CFM,TZ,2015,1,TZ_CFM_2015,TZ_2015_CFM_1_1,NaN,NaN,NaN,72.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CFM,TZ,2015,1,TZ_CFM_2015,TZ_2015_CFM_2_1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CFM,TZ,2015,1,TZ_CFM_2015,TZ_2015_CFM_3_1,NaN,NaN,NaN,108.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CFM,TZ,2015,1,TZ_CFM_2015,TZ_2015_CFM_4_1,NaN,NaN,NaN,144.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CFM,TZ,2015,1,TZ_CFM_2015,TZ_2015_CFM_5_1,NaN,NaN,NaN,240.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## filtering

In [12]:
# def filter_for_crops(df, eqn):
    
#     info = df.filter(regex = eqn, axis = 1)
#     names = list(info.columns)
    
#     return names

def filter_for_crops(df, eqn):
    '''takes column names and splits them into 2 labels at the _'''
    colNames = df.filter(regex = eqn, axis = 1).columns
    colNames = pd.Series(colNames)
    results = colNames.str.split("_", expand=True)
    results = results.rename(columns = {0:"action", 1:"crop"})
    return results

In [1]:
harvest = filter_for_crops(agg,"^Harvested_")
sold = filter_for_crops(agg,"^Sold_" )
income = filter_for_crops(agg, "(?i)^income_")
yields = filter_for_crops(agg, "^Yield_")
#yields.iloc[40:70:,]
consumed = filter_for_crops(agg, "(?i)consumed_")

NameError: name 'filter_for_crops' is not defined

In [11]:
#same crop?
data = pd.concat([consumed.crop, yields.crop, income.crop, sold.crop, harvest.crop],axis = 1)
data

NameError: name 'income' is not defined

In [ ]:
a = []
for i in range(112):
    if data.iloc[i,0] == data.iloc[i,1] == data.iloc[i,2] == data.iloc[i,3] == data.iloc[i,4]:
        a.append("same")
    else:
        a.append("diff")

In [ ]:
a.count("same")

In [10]:
getNAs(agg)

         numNA
0     0.000000
1     0.000000
2     0.000000
3     0.000000
4     0.000000
..         ...
900  99.984974
901  99.969947
902  99.969947
903  99.969947
904  99.969947

[905 rows x 1 columns]

In [3]:
b = pd.read_csv("/Users/anab/Documents/MS_UCDavis/STA208/project/RHoMIS_Full_Data.csv", engine = "python")

In [12]:
getNAs(b).tail(60)

                    label      numNA
750   quality_reliability  12.396694
246          agroforestry  11.765590
72       crop_land_area_1  11.367393
733                 PPI_1  11.367393
40              landowned  11.262209
83     crop_residue_use_1  10.826446
734                 PPI_2  10.518407
735                 PPI_3  10.503381
739                 PPI_7  10.503381
742                PPI_10  10.495868
738                 PPI_6  10.495868
741                 PPI_9  10.495868
740                 PPI_8  10.488355
736                 PPI_4  10.488355
737                 PPI_5  10.480841
14                 region  10.000000
53              crops_all   9.722014
694            debts_have   9.706987
266       pastureland_use   9.579264
610               HFIAS_7   8.347107
609               HFIAS_8   8.324568
608               HFIAS_9   8.324568
17          participation   7.565740
64                  crops   6.709241
75   crop_consumed_prop_1   6.003005
235        land_irrigated   4.072126
74             crop_use_1   3.749061
686           aidreceived   3.433509
756             X_version   3.117956
754     X_submission_time   3.117956
25        education_level   3.095417
70     crop_yield_units_1   2.336589
66            crop_name_1   2.253944
65             crop_count   2.126221
69           crop_yield_1   2.103681
67           crop_label_1   2.081142
51             homegarden   1.773103
52             grow_crops   1.299775
30            males25to50   1.202104
31          females25to50   1.202104
29          females11to24   1.194591
28            males11to24   1.194591
38               unitland   0.736289
37         landcultivated   0.563486
21         household_type   0.142750
18          respondentsex   0.037566
27         children_4to10   0.022539
247      livestock_owners   0.015026
602      foodshortagetime   0.015026
26       children_under_4   0.015026
595      gather_wildfoods   0.015026
696   offfarm_incomes_any   0.015026
625             HDDS_type   0.000000
2                    YEAR   0.000000
1              ID_COUNTRY   0.000000
4               SURVEY_ID   0.000000
5                   ID_HH   0.000000
3               ITERATION   0.000000
12                country   0.000000
0                 ID_PROJ   0.000000