In [1]:
import pandas as pd
import numpy as np

In [3]:
rh_indic = pd.read_csv("/Users/anab/Documents/MS_UCDavis/STA208/project/STA_208/data/RHoMIS_Indicators.csv", engine='python')
rh_indic.tail()
rh_indic.YEAR.unique()

array([2015, 2016, 2017, 2018])

In [4]:
def getNAs(df):

    colNames = []
    percentNA = []
    for i in df.columns:
        colNames.append(i)
        numNA = df[i].isna().sum()
        percent = (numNA/len(df))*100
        percentNA.append(percent)
        
    colNames = pd.DataFrame(colNames)
    colNames = colNames.rename(columns={0: "label"})
    percentNA = pd.DataFrame(percentNA)
    percentNA = percentNA.rename(columns={0: "numNA"})
    d = pd.concat([colNames,percentNA], axis = 1).sort_values(by=['numNA'], ascending = False)

        
    return percentNA

In [ ]:
getNAs(rh_indic)

## crop data

In [7]:
agg = pd.read_csv("/Users/anab/Downloads/crop_details.csv", )
agg.head()

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (129,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,199,200,201,202,203,204,205,206,207,208,215,216,253,254,255,256,257,259,260,261,262,263,264,271,272,285,286,287,288,319,320,321,322,323,324,325,326,327,328,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,427,428,429,430,431,432,451,452,453,454,455,481,482,483,484,485,488,501,502,523,524,525,526,527,528,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,621,622,623,624,649,650,651,652,653,654,655,656,675,676,677,678,679,680,687,688,707,708,709,710,711,712,719,720,727,728,741,742,743,744,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,827,828,829,830,831,832,863,864,865,866,867,868,869,870,871,872,891,892,893,894,895,896,903,904) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ID_PROJ,ID_COUNTRY,YEAR,ITERATION,SURVEY_ID,ID_HH,GPS_LAT,GPS_LON,GPS_ALT,Harvested_beans,...,Intercropped_naranjilla,Intercropped_granadilla,Harvested_frafra potato,Consumed_frafra potato,Sold_frafra potato,Income_frafra potato,Yield_frafra potato,Land_frafra potato,Use_frafra potato,Intercropped_frafra potato
0,CFM,TZ,2015,1,TZ_CFM_2015,TZ_2015_CFM_1_1,NaN,NaN,NaN,72.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CFM,TZ,2015,1,TZ_CFM_2015,TZ_2015_CFM_2_1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CFM,TZ,2015,1,TZ_CFM_2015,TZ_2015_CFM_3_1,NaN,NaN,NaN,108.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CFM,TZ,2015,1,TZ_CFM_2015,TZ_2015_CFM_4_1,NaN,NaN,NaN,144.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CFM,TZ,2015,1,TZ_CFM_2015,TZ_2015_CFM_5_1,NaN,NaN,NaN,240.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## filtering

In [5]:
# def filter_for_crops(df, eqn):
    
#     info = df.filter(regex = eqn, axis = 1)
#     names = list(info.columns)
    
#     return names

def filter_for_crops(df, eqn):
    '''takes column names and splits them into 2 labels at the _'''
    colNames = df.filter(regex = eqn, axis = 1).columns
    colNames = pd.Series(colNames)
    results = colNames.str.split("_", expand=True)
    results = results.rename(columns = {0:"action", 1:"crop"})
    return results

In [6]:
harvest = filter_for_crops(agg,"^Harvested_")
harvest

NameError: name 'agg' is not defined

In [ ]:
sold = filter_for_crops(agg,"^Sold_" )
sold

In [ ]:
income = filter_for_crops(agg, "(?i)^income_")
income

In [8]:
yields = filter_for_crops(agg, "^Yield_")
yields

    action           crop
0    Yield          beans
1    Yield          maize
2    Yield         banana
3    Yield        cabbage
4    Yield         tomato
..     ...            ...
107  Yield        alfalfa
108  Yield        achiote
109  Yield     naranjilla
110  Yield     granadilla
111  Yield  frafra potato

[112 rows x 2 columns]

In [9]:
consumed = filter_for_crops(agg, "(?i)consumed_")
consumed.crop

0              beans
1              maize
2             banana
3            cabbage
4             tomato
           ...
107          alfalfa
108          achiote
109       naranjilla
110       granadilla
111    frafra potato
Name: crop, Length: 112, dtype: object

In [ ]:
#same crop?
data = pd.concat([consumed.crop, yields.crop, income.crop, sold.crop, harvest.crop],axis = 1)
data

In [ ]:
a = []
for i in range(112):
    if data.iloc[i,0] == data.iloc[i,1] == data.iloc[i,2] == data.iloc[i,3] == data.iloc[i,4]:
        a.append("same")
    else:
        a.append("diff")

In [ ]:
a.count("same")

In [10]:
getNAs(agg)

         numNA
0     0.000000
1     0.000000
2     0.000000
3     0.000000
4     0.000000
..         ...
900  99.984974
901  99.969947
902  99.969947
903  99.969947
904  99.969947

[905 rows x 1 columns]