In [1]:
import pandas as pd
import numpy as np

In [2]:
rhomis_data = pd.read_csv("/Users/anab/Documents/MS_UCDavis/STA208/project/RHoMIS_Full_Data.csv", engine = "python")
rhomis_data.head()

,ID_PROJ,ID_COUNTRY,YEAR,ITERATION,SURVEY_ID,ID_HH,GPS_LAT,GPS_LON,GPS_ALT,start_time_user,...,Additional_respondents,quality_rapport,quality_reliability,end_time_user,endtime_auto,endtime_calculated,X_submission_time,X_tags,X_version,X_duration
0,CFM,TZ,2015,1,TZ_CFM_2015,TZ_2015_CFM_1_1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2017-09-12t16:27:52,NaN,2.02E+11,NaN
1,CFM,TZ,2015,1,TZ_CFM_2015,TZ_2015_CFM_2_1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2017-09-12t16:27:52,NaN,2.02E+11,NaN
2,CFM,TZ,2015,1,TZ_CFM_2015,TZ_2015_CFM_3_1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2017-09-12t16:27:52,NaN,2.02E+11,NaN
3,CFM,TZ,2015,1,TZ_CFM_2015,TZ_2015_CFM_4_1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2017-09-12t16:27:52,NaN,2.02E+11,NaN
4,CFM,TZ,2015,1,TZ_CFM_2015,TZ_2015_CFM_5_1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2017-09-12t16:27:52,NaN,2.02E+11,NaN

In [4]:
class Functions:
    """
     Conatins all our function we want to use 
    """
    
#     def __init__(self,df):

    def getNAs(self, df):
        colNames = []
        percentNA = []
        for i in df.columns:
            colNames.append(i)
            numNA = df[i].isna().sum()
            percent = (numNA/len(df))*100
            percentNA.append(percent)

        colNames = pd.DataFrame(colNames)
        colNames = colNames.rename(columns={0: "label"})
        percentNA = pd.DataFrame(percentNA)
        percentNA = percentNA.rename(columns={0: "numNA"})
        self.data = pd.concat([colNames,percentNA], axis = 1).sort_values(by=['numNA'], ascending = False)

        return self.data
        
    def drop_columns(self, df, threshold_percent):
        '''drop columns by a threshold (percentage of na)'''
        global data ### double check...
        data = self.getNAs(df)
        column_names = data[data.numNA >= threshold_percent].label
        self.clean_data = df.drop(column_names, axis = 1)

        return self.clean_data
    
    def entry_to_lowercase(self, df):
        for i in df.columns:
            if (df[i].dtype == "O"):
                df[i] = df[i].str.lower()
        return df
    
    def id_data_types(self, df):
        names = pd.DataFrame()
        category = pd.DataFrame()
        data_type = pd.DataFrame()
        numUni = pd.DataFrame()

        for i in df.columns:

            names = names.append({"variable": i},ignore_index = True)
            category = category.append({"category": list(df[i].unique())}, ignore_index = True)
            numUni = numUni.append({"numUnique": len(df[i].unique())}, ignore_index = True)
            data_type = data_type.append({"data_type": df[i].dtype}, ignore_index = True)

        view_data = pd.concat([names, category, numUni,data_type],axis =1)

        return (view_data)
    
    def replace_na_with_NaN(self, df):
        for i in df.columns:
            df[i] = df[i].replace('na', np.NaN)
        return df
    
    # removes underscores and spaces from instances, examples: 'No_School-> NoSchool, no school -> noschool'
    def remove_underscores_spaces(df):
         for i in df.columns:
            if (df[i].dtype == "O"):
            df[i] = df[i].str.replace('_', "")
            df[i] = df[i].str.replace(' ', "")
        return df

In [5]:
fun = Functions()
fun.id_data_types(rhomis_data)

,variable,category,numUnique,data_type
0,ID_PROJ,"[CFM, S4N, CW1, CW2, CFG, CM1, CM2, SIL, CM3, ...",28.0,object
1,ID_COUNTRY,"[TZ, GT, SV, HN, ML, BF, MW, KE, IN, KH, VN, L...",21.0,object
2,YEAR,"[2015, 2016, 2017, 2018]",4.0,int64
3,ITERATION,[1],1.0,int64
4,SURVEY_ID,"[TZ_CFM_2015, GT_S4N_2015, SV_S4N_2015, HN_S4N...",36.0,object
...,...,...,...,...
753,endtime_calculated,"[nan, 36990, 41956, 77617, 38170, 68239, 68402...",8515.0,object
754,X_submission_time,"[2017-09-12t16:27:52, 2017-09-12t12:49:38, 201...",11696.0,object
755,X_tags,"[nan, na]",2.0,object
756,X_version,"[2.02E+11, 1, na, 2.01608E+11, 2.0161E+11, 2.0...",14.0,object
757,X_duration,"[nan, na, 136698, 28064, 119884, 888, 155718, ...",6574.0,object

In [6]:
fun = Functions()
fun.replace_na_with_NaN(rhomis_data)

,ID_PROJ,ID_COUNTRY,YEAR,ITERATION,SURVEY_ID,ID_HH,GPS_LAT,GPS_LON,GPS_ALT,start_time_user,...,Additional_respondents,quality_rapport,quality_reliability,end_time_user,endtime_auto,endtime_calculated,X_submission_time,X_tags,X_version,X_duration
0,CFM,TZ,2015,1,TZ_CFM_2015,TZ_2015_CFM_1_1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2017-09-12t16:27:52,NaN,2.02E+11,NaN
1,CFM,TZ,2015,1,TZ_CFM_2015,TZ_2015_CFM_2_1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2017-09-12t16:27:52,NaN,2.02E+11,NaN
2,CFM,TZ,2015,1,TZ_CFM_2015,TZ_2015_CFM_3_1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2017-09-12t16:27:52,NaN,2.02E+11,NaN
3,CFM,TZ,2015,1,TZ_CFM_2015,TZ_2015_CFM_4_1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2017-09-12t16:27:52,NaN,2.02E+11,NaN
4,CFM,TZ,2015,1,TZ_CFM_2015,TZ_2015_CFM_5_1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2017-09-12t16:27:52,NaN,2.02E+11,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13305,TA7,GH,2018,1,GH_TA7_2018,GH_2018_TA7_387_1,10.96,-1.17,191.0,1526736900,...,1,easy,4,1526741280,1527535533,69933,1527535790,NaN,1,798706
13306,TA7,GH,2018,1,GH_TA7_2018,GH_2018_TA7_388_1,10.97,-1.16,210.0,1526741520,...,1,medium,4,1526744580,1527535679,70079,1527535796,NaN,1,794217
13307,TA7,GH,2018,1,GH_TA7_2018,GH_2018_TA7_389_1,11.00,-1.01,222.0,1526569680,...,0,medium,4,1526574060,1527574807,22807,1527615190,NaN,1,1008763
13308,TA7,GH,2018,1,GH_TA7_2018,GH_2018_TA7_390_1,11.03,-1.18,242.0,1526826720,...,0,easy,5,1526829420,1526829484,55084,1527615709,NaN,1,2763
13309,TA7,GH,2018,1,GH_TA7_2018,GH_2018_TA7_391_1,11.03,-1.15,285.0,1526832720,...,1,easy,4,1526835900,1526835934,61534,1527615713,NaN,1,3305